TOR_PASSWORD = PASSWORD

DB_USER = abc
DB_PASSWORD = 123
DB_NAME = MyDatabase
DB_SERVER = 127.0.0.1
DB_TYPE = mysql+mysqldb

OS = Linux

# Email
EMAIL_USE_TLS = True
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_HOST_USER = 'abc@gmail.com'
EMAIL_HOST_PASSWORD = 'abc'
EMAIL_PORT = 587
